{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello testuser!</h1>
    <div class="test">
        This is big test
    </div>
</div>
{% endblock %}
