{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container mx-auto mt-4">
        <div class="flex justify-between">
            <div>
                test
            </div>
            <div>
                another
            </div>
        </div>
    </div>
{% endblock %}
