@tailwind preflight;

 @tailwind components;
 
 @tailwind utilities;
 

 body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dropdown:hover .dropdown-content {
    display: block;
    left: auto;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
}